.container-gallery {
    background-color: black;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
}

.gallery-heading {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 2rem;
}

.photo-cards {
    display: flex;
    flex-wrap: wrap;
    
    
    
}

/*.photo-card {
    width: 24%;
    position: relative;
    height: 15rem;
    overflow:hidden;
    margin-bottom: 10px;
    margin-right: 10px;
    object-fit: none;
    /*flex: 1;   
}*/

.photo-card {
    width: calc(33.33% - 20px); 
    margin-right: 20px; 
    margin-bottom: 20px;
    position: relative;
    height: 15rem;
    overflow: hidden;
}

.photo-card:hover {
   /* flex: 10;*/
}

.photo-card-heading {
    background-color: #22150c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    
    transform: translate(calc(-100% + 3rem), 0)

    
    
}

.photo-card:hover .photo-card-heading {
    transform: translate(0, 0);
    transition: transform 1s ease-in-out;
}


.photo-card-heading span {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

.photo-card-heading i {
    color: white;
    font-size: 2rem;
    padding: 5px;
    float: right;
    
}


/*.photo-card-img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
   transition: transform 0.5s;
   
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;

}*/

.photo-card-img {
    height: 100%;
    width: 100%; /* Bildgröße 100% der Karte */
    object-fit: cover; /* Bild an Kartenabmessungen anpassen */
    transition: transform 0.5s;
}

.photo-card:hover {
    transform: scale(2, 2);
    z-index: 1000;
    object-fit: contain;
}

.fa-clock-rotate-left {
    font-size: 30px;
    padding: 5px;
}

.photo-card:hover .photo-card-img {
    transform: scale(1.1); /* Skalierung beim Hover */
}

/* Media Queries für mobile Geräte */
@media only screen and (max-width: 768px) {
    .photo-card {
        width: calc(50% - 20px); /* Auf kleineren Bildschirmen 2 Karten pro Reihe */
    }
}

@media only screen and (max-width: 480px) {
    .photo-card {
        width: calc(100% - 20px); /* Auf noch kleineren Bildschirmen eine Karte pro Reihe */
    }
}


